@{
    ViewData["Title"] = "İşlem Tamamlandı";
}


<h1>Satın Alma İşlemi Tamamlandı!!</h1>


<p style="margin-bottom:4em; margin-top:2em;">Bizi tercih ettiğiniz için teşekkür ederiz.</p>


<form asp-controller="Home" asp-action="Index" asp-area="" class="alısverisislem">
    <button type="submit" class="btn btn-info">Ana Sayfa</button>
</form>